{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],

  "semi": false,
  "singleQuote": true,

  "importOrder": ["^@*/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[~/]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
