{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": [
    "^(react/(.*)$)",
    "^(next/(.*)$)",
    "^(@*)/(.*)$",
    "~/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}