{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],

  "importOrder": ["^[./]", "^@", "^~"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
